body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2980b9;
}

.machine {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.reels {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.reel {
  height: 300px;
  width: 300px;
  overflow: hidden;
  background-size: cover;
  background-color: #fefefe;
  border-radius: 3px;
  margin: 0 3px;
}

.reel-item {
  opacity: 0;
  animation-name: flicker;
  animation-duration: .4s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(7);
}

.spin-button {
  margin-bottom: 2rem;
}


/* Animations */
@keyframes flicker {
  0% { opacity: 0 }
  12.5% { opacity: .25 }
  25% { opacity: 0 }
  37.5% { opacity: 0 }
  50% { opacity: .75 }
  62.5% { opacity: 0 }
  75% { opacity: 1 }
  87.5% { opacity: .5 }
  100% { opacity: 1 }
}
