body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.machine {
  padding: 2rem;
}

.reels {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.reel {
  height: 300px;
  width: 300px;
  overflow: hidden;
  background-size: cover;
}

.spin-button {
  margin-bottom: 2rem;
}
